.related-products > .ais-Hits-list {
  /* ant-row */
  grid-gap: 0 !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
.related-products > .ais-Hits-item {
  /* ant-col-4 */
  display: block !important;
  -ms-flex: 0 0 16.66666667% !important;
  flex: 0 0 16.66666667% !important;

  max-width: 16.66666667% !important;
}
