.section-product-detail {
    border: 2px solid $color-black;
    border-radius: 5px;
    margin: 1.5rem 0;
    padding: 10px;
    background-color: $color-white;

    &__name {
        margin: 1.5rem 0;
    }

    &__left {
        .img-list-child {
            &__item {
                padding: 5px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            background-color: $color-white;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid $color-black;
        }
    }
    &__right {
        border: 1px solid $color-black;
        border-radius: 5px;
        // background-color: yellow;
        padding: 10px;
        .content-title {
        }
    }
}
