.section-banner {
    margin-bottom: 2rem;
    .slick-slider,
    .slick-list {
        max-height: 50vh;
        a {
            height: 100%;
            display: block;
            img {
                height: 50vh;
                width: auto;
                display: block;
                margin: auto;
            }
        }
    }
    .slick-slider {
        background-color: $color-secondary;
    }
}
