
.session-cart {
    margin-top : 20px;
    padding : 15px 30px;
    &:hover{
        background: #FFFFFF;
        box-shadow: 1px 12px 40px rgba(0, 0, 0, 0.25);
    }
}
.cart-mini{
    position: absolute;
    min-width: 300px;
    min-height: 200px;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.fixed-card{
    padding : 20px;
    width: 100%;
    max-width: 1200px; 
    min-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f8f8;
// box-shadow: 1px 12px 40px rgba(0, 0, 0, 0.25);
    z-index: 9;

}