.section-product-detail {
    border: 2px solid $color-black;
    border-radius: 5px;
    margin: 1.5rem 0;
    padding: 10px;
    background-color: $color-white;

    &__img {
        .img-list-child {
            &__item {
                padding: 5px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
            background-color: $color-white;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid $color-black;
        }
    }
    &__content {
        border: 1px solid $color-black;
        border-radius: 5px;
        // background-color: yellow;
        padding: 10px;
        .content-title {
        }

        .content-rating {
            display: flex;

            &__item {
                display: flex;
                &--content {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font: {
                        size: 1.8rem;
                        weight: 700;
                    }
                }

                .content-rating__item--content + .content-rating__item--content {
                    padding-left: 5px;
                }
            }

            .content-rating__item + .content-rating__item {
                padding-left: 2rem;
            }
        }

        .content-desc {
            &__item {
                display: flex;
                font: {
                    size: 1.8rem;
                    weight: 600;
                }
            }
        }
    }

    .img-active + .img-list-child {
        margin-top: 5px;
    }
}
